<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> ~ NooApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="center jumbotron-fluid">
        <h1><%= yield(:title)%></h1>
        <p class="lead"><%= yield(:description)%></p>
      </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) %>
    </div>
  </body>
</html>
